<h1>Listing criteria</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Weight</th>
    <th>Goals</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @criteria.each do |criterium| %>
  <tr>
    <td><%= criterium.name %></td>
    <td><%= criterium.weight %></td>
    <td><%= criterium.goals %></td>
    <td><%= link_to 'Show', criterium %></td>
    <td><%= link_to 'Edit', edit_criterium_path(criterium) %></td>
    <td><%= link_to 'Destroy', criterium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Criterium', new_criterium_path %>
